extends layout

block body
	div(ng-controller='RecordCtrl', ng-init='init("#{ecoregion}", "#{category}", "#{community}", "#{record}")')
		h2 
			a(href='{{data.ecoregion.slug}}'){{data.ecoregion.name}} Ecoregion
		h3 {{data.communitycategory.name}}  ->  {{data.community.name}}
		h2 {{data.name.name}}
		p Ecoregion: {{data.ecoregion.name}}
		p {{data.lifeform.name}} - {{data.lifeformtype.name}}
		p <strong>Common Name:</strong> {{data.commonname}}
		p <strong>Scientific Name:</strong> <em>{{data.scientificname}}</em>
		p 
			a(href='http://www.discoverlife.org/20/q?search={{data.link}}', target='_blank') More information on Discover Life
		p <strong>Color:</strong> {{data.color}}
